body{
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.menu{
    width: 40%;
    height: 100%;
    background-color: #058545;
    margin: 0;
    
   & ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    & li{

        & a{
            color: #ffffff;
            display: block;
            text-decoration: none;
            padding: 10px;
            margin: 10px;
            font-weight: bold;
        }
        & a:hover {
            background-color: rgb(58, 117, 50);
            cursor: pointer;
        }
    }
   }
}